.list-container {
    width: 100%;
    max-width: 1200;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 240px; */
}

.list-item-lists {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}