.header_bar {
    display: flex;
    align-items: center;
}

.search_field {
    margin: auto;
}

.icons_header {
    color: #757575;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.icons, .profile {
    color: #757575;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search_bar {
    display: flex;
  align-items: center;
  gap: 5px;
  margin: 40px auto;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  height: 60%;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%);
  background-color: #F1F3F4;
}

.menu-btn {
    margin-right: 20px;
}

.keep-heading {
    font-size: 1.5rem;
    margin: 0;
}

.keep-logo {
    width: 30px;
    margin-left: 15px;
}

.hide_till_600 {
    display: inline-block;

}

.hide_till_800 {
    display: inline-block;
    font-size: large;
}


@media screen and (max-width: 900px) {

    .icons_header {
        gap: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    
    .hide_till_800 {
        display: none !important;
    }

    .keep-heading {
        font-size: 1.4rem;
        margin-left: 15px;
    }

    .search_bar {
        width: 50%;
    }

  }

  @media screen and (max-width: 600px) {
    
    .hide_till_600 {
        display: none !important;
    }

    .keep-logo {
        width: 25px;
    }

    .menu-btn {
        pointer-events: none;
    }
  }