.list-item {
    display: flex;
    cursor: pointer;
    color: #202124;
    gap: 0.5rem;
    align-items: center;
}

.navlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 200px;
}

.list-icon { 
    display: flex;
    align-items: center;
    color: #757575;
}

@media screen and (max-width: 600px) {

    .navlist {
        margin-top: 1.7rem;
    }

    .list-icon { 
        margin-left: -5px;
    }

}