.card-item {
    min-width: 700px;
    width: 55%;
    align-self: center;
}

.note_fields {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1400px) {
    body {

        .card-item {
            min-width: 1000px;
            width: 70%;
        }

    }
}

@media screen and (min-width: 1000px) {
    body {
      
        .card-item {
            min-width: 700px;
            width: 70%;
        }

    }
}

@media screen and (max-width: 800px) {
    body {
      
        .card-item {
            min-width: 400px;
        }

    }
}

@media screen and (max-width: 600px) {
    body {
      
        .card-item {
            min-width: 300px;
            
        }

    }
}